DB_URL=jdbc:mysql://localhost:3306/Contify?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root

JWT_SECRET=bb9c92a8fa3e95a08d44e93cf7e1e3b669ef898cb6430bf1cb9d582a8662cbbe

CLOUDINARY_CLOUD_NAME=dn37tck9g
CLOUDINARY_API_KEY=773462766713722
CLOUDINARY_API_SECRET=_hAjfQ7ZmNY68D2z0iYhYF4dcVo

KAFKA_ENABLED=false
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TASK_TOPIC=contify.task-events
